/*home header info*/
.header{background:url(/img/background/backimg_blue.jpg);background-size:cover;}
.header .title{margin:20px 0;}
.header .title h1{display:block;text-align:center;color:#FFFFFF;text-transform:uppercase;font-weight:bold;letter-spacing:0.1em;font-size:40px;}
.header .title p{text-align:center;color:#FFFFFF;font-size:18px;max-width:70%;margin:0 auto;}
.header .tips{margin:40px 0;}
.header .tips a{display:block;height:60px;width:60%;line-height:60px;text-align:center;font-size:24px;font-weight:bold;color:#FFFFFF;border-radius:6px;margin:0 auto;background-color:#428bca;}
.header .tips a:hover{text-decoration:none;background-color:#3071a9;}
.header .chart{margin:40px 0;}
.header .chart img{display:block;width:100%;}
/*data summary*/
.data_summary{background-color:#fafafa;padding:20px 0;}
.data_summary .info{float:left;width:25%;text-align:center;}
.data_summary .num{font-size:48px;height:60px;color:#1D75B7;padding-top:20px;line-height:24px;font-weight:100;letter-spacing:0.03em;}
.data_summary .text{text-transform:uppercase;color:#787878;letter-spacing:0.1em;font-weight:500;font-size:15px;}
/*how to start*/
.start {background-color: #FFFFFF;padding: 30px 0;}
.start .titleborder {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;border-top: 1px solid #eeeeee;margin-top: 9px;}
.start .title {display: flex;margin: 20px auto;}
.start .title h4 {display: block;text-align: center;text-transform: uppercase;color: #787878;letter-spacing: 0.1em;font-weight: 500;font-size: 28px;margin: 0 20px;height: 19px;line-height: 19px;}
.start .instructions {margin: 40px auto;}
.start .step {margin-top: 30px;display: flex;cursor: pointer;}
.start .stepnum {color: #1D75B7;font-size: 15px;text-align: center;}
.start .num {width: 30px;height: 30px;border-radius: 50%;border: 1px solid #e1e1e1;line-height: 30px;}
.start .steptext {margin-left: 30px;max-width: 70%;}
.start .text {text-transform: uppercase;color: #787878;letter-spacing: 0.1em;font-weight: 500;font-size: 15px;}
.start .steptext p {margin-top: 10px;line-height: 1.6;color: #3E4552;}
.start .active .num {background-color: #1D75B7;border: 1px solid transparent !important;color: #FFFFFF !important;}
.start .active .text,.start .active p {color: #1D75B7 !important;}
.start .stepimg {height: 420px;overflow: hidden;position: relative;}
.start .stepimg div {display: none;transition: 0.6s ease-in-out left;}
.start .stepimg img {height: 400px;display: block;margin: 10px auto;}
.start .stepimg .showimg {display: block !important;}
/*analysis function*/
.analysismethod {background-color: #FFFFFF;padding: 30px 0;}
.analysismethod .title {display: flex;margin: 20px auto;}
.analysismethod .titleborder {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;border-top: 1px solid #eeeeee;margin-top: 9px;}
.analysismethod .title h4 {display: block;text-align: center;color: #787878;letter-spacing: 0.1em;font-weight: 500;font-size: 28px;margin: 0 20px;height: 19px;line-height: 19px;}
.analysismethod .method {margin: 20px auto;}
.analysismethod .info {min-height: 360px;}
.analysismethod .info .con h3 {display: block;color: #787878;padding-top: 20px;}
.analysismethod .info .con p {display: block;line-height: 1.75;color: #3E4552;text-align: justify;}
.analysismethod .info .con .link {display: block;padding: 10px 20px;overflow: hidden;}
.analysismethod .info .con .link a {float: right;margin-left: 30px;font-size: 16px;}
.analysismethod .info .con .link a:hover {text-decoration: underline;color: #44cef6;}
.analysismethod .img {height: 360px;}
.analysismethod .img img {display: block;max-width: 94%;max-height: 94%;margin: 3% auto;border: 2px solid #D1D1D1;}