/*default*/
.pagetitle {background-color: #fafafa;padding: 20px 0;margin-bottom: 20px;}
.pagetitle h3 {color: #787878;margin: 0;font-size: 16px;}
.pagetitle h3 strong {font-size: 36px;margin-right: 20px;}

.analysis_type {padding: 30px 0;}
.analysis_type a {display: block;padding: 10px 10px;color: #1D75B7;font-weight: 500;font-size: 16px;text-align: center;border: 3px solid #1D75B7;}
.analysis_type a:hover {background-color: #1D75B7;color: #FFFFFF;}

.legend {margin: 30px 0;padding: 20px 0;}
.legend img {width: 36%;margin: 0 20px 20px 0;display: block;float: left;border: 1px solid #d1d1d1;}
.legend p{font-size: 16px;text-indent: 2em;text-align: justify;}

/*charts loading*/
.spinner{margin:100px auto;width:100px;height:70px;text-align:center;}
.spinner>div{background-color:rgb(61,132,193);height:100%;width:1em;display:inline-block;-webkit-animation:stretchdelay 1.2s infinite ease-in-out;animation:stretchdelay 1.2s infinite ease-in-out;}
.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s;margin-left:0.2em;}
.spinner .rect3{-webkit-animation-delay:-1.0s;animation-delay:-1.0s;margin-left:0.2em;}
.spinner .rect4{-webkit-animation-delay:-0.9s;animation-delay:-0.9s;margin-left:0.2em;}
.spinner .rect5{-webkit-animation-delay:-0.8s;animation-delay:-0.8s;margin-left:0.2em;}
@-webkit-keyframes stretchdelay{0%,40%,100%{-webkit-transform:scaleY(0.4)}20%{-webkit-transform:scaleY(1.0)}}
@keyframes stretchdelay{0%,40%,100%{transform:scaleY(0.4);-webkit-transform:scaleY(0.4);}20%{transform:scaleY(1.0);-webkit-transform:scaleY(1.0);}}

/*charts*/
.section,.section *{padding: 0;}
#echarts{height:720px;}
#echarts h1 {display: block;line-height: 500px;text-align: center;color: #C0C0C0;font-size: 48px;}
.echarts{border-right:solid 1px #d1d1d1;border-left:solid 1px #d1d1d1;border-top:solid 1px #d1d1d1;padding: 10px;}

.left-contral-area{padding: 10px;}
.left-contral-area strong{line-height: 1.75;}
.left-contral-area p{margin: 0;line-height: 1.75;color: #777;}
.left-contral-area label{margin: 5px auto;min-height: 24px;line-height: 1.75;}
.left-contral-area label span{color: #538bc5;}
.left-contral-area select{margin: 2px 0;}
.left-contral-area input{padding: 5px;margin: 2px 0;}
.left-contral-area button{padding: 5px;margin: 10px 0;}

.bottom-contral-area{border-top: 1px solid #D1D1D1;padding: 20px 10px;}
.bottom-contral-area strong{line-height: 2.25;}
.bottom-contral-area .image-control {padding-right: 20px;border-right: 1px solid #D1D1D1;}
.bottom-contral-area .image-control .col-md-12{margin-bottom: 10px;}
.bottom-contral-area .image-control input{float: right;height: 24px;font-size: 14px;padding: 2px 5px;}
.bottom-contral-area .image-control select{float: right;}
.bottom-contral-area .image-control button{float: right;padding: 5px 10px;}
.bottom-contral-area .style-control{padding: 0 20px;}
.bottom-contral-area .style-control span{height: 30px;}
.bottom-contral-area .style-control #btn_Rerender button{margin-top: 20px;}
.bottom-contral-area .style-control .style-control-group{padding-bottom: 10px;}
.bottom-contral-area .style-control .style-control-marker{padding-right: 20px;}
.bottom-contral-area .style-control .style-control-box{padding: 0 20px;min-height: 120px;border-right:solid 1px #d1d1d1;border-left:solid 1px #d1d1d1;}
.bottom-contral-area .style-control .style-control-line{padding-left: 20px;}

.note-contral-area{padding: 10px 0;display: none;}
.note-contral-area h3{padding-bottom: 10px;margin-bottom: 10px;font-size: 14px;}

/*beeswarm*/
.cancer-chart {margin: 20px 0;padding: 20px 0;}
.cancer-chart .center{text-align: center;}
.cancer-chart table{width: 100%;border: 1px solid #D1D1D1;}
.cancer-chart tr{background-color: #f9f9f9;height: 60px;}
.cancer-chart tr:nth-of-type(even){background-color: #FFFFFF;}
.cancer-chart tr:hover{background-color: #f5f5f5;}
.cancer-chart td,th{padding: 10px;}
.cancer-chart td{font-size: 16px;}